.simulation_page{
    background-color: #eefbff;
    height: 100%;
}

.simulation_content {
    padding: 60px 0;
}

.simulation_detail {
    width: 90%;
    margin: auto;
    padding: 20px 0;
}

.section {
    margin: 12px 0;
}

.section_hr {
    margin: 24px 0;
    border-bottom: 1px solid #70CDE5;
}

.link_title{
    color: #009cc6;
    font-weight: bold;
}

.univ_box {
    margin-top: 24px;
    background-color: #ffffff;
    border-radius: 6px;
    padding: 12px;
}

.box_content {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #C2BEBE;
    padding: 6px 0;
}

.box_content:last-child {
    border: 0;
}

.contents_title {
    width: 30%;
    vertical-align: middle;
    font-size: 0.9em;
}

.relation_btn{
    margin-right: 6px;
    background-color: #ffffff;
    border: 1px solid #707070;
    border-radius: 6px;
    width: fit-content;
    font-size: 12px;
    padding: 2px 12px;
}

.contents_radio {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.contents_radio > input {
    display: none;
}

.contents_radio input:checked + label {
    background-color: #70cde5;
}

.contents_input {
    width: 60%;
}

.apply_type {
    margin: 12px 0;
}

.type_title {
    font-weight: bold;
}

.apply_table {
    margin-top: 12px;
    background-color: #ffffff;
    padding: 12px 6px;
    font-size: 0.9em;
    text-align: center;
    overflow: auto;
    width: 320px;
}

.apply_table table thead tr td {
    border-right: 1px solid #C2BEBE;
    width: 100px;
    padding : 0 12px;
    word-break: keep-all;
}

.apply_table table tbody tr td {
    word-break: keep-all;
    padding : 6px 12px;
}

.apply_table table thead tr td:last-child {
    border-right: 0;
}

.apply_btn {
    width: 70%;
    margin: 12px auto;
}

.apply_btn button {
    width: 100%;
    border: 0;
    background-color: #70cde5;
    text-align: center;
    padding: 6px;
    border-radius: 6px;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, .2);
}