.nav{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0px 20px;
    box-sizing: border-box;
    background-color: #f9f3ee;
    color: #6e6e6e;
}

.nav-list{
    display: flex;
    list-style: none;
    padding-left:0px;
    justify-content: space-between;
}

.nav-btn{
    font-size: 8px;
    text-align: center;
}