.Footer_nav{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0px 20px;
    box-sizing: border-box;
    background-color: #f9f3ee;
    color: #6e6e6e;
    height: 60px;
    z-index: 1;
}

.Footer_nav_list{
    display: flex;
    list-style: none;
    padding: 10px 0;
    justify-content: space-between;
    margin: 0;
}

.Footer_nav_btn{
    font-size: 8px;
    text-align: center;
    height: 40px;
}

a {
    color: #000000;
    text-decoration: none;
}