.header {
    background-color: #EEFBFF;
    width: 100%;
    height: 60px;
}

.bars{
    font-size: 18px;
    position: absolute;
    color: #665252;
    top: 3.2%;
    left: 4.4%;
}

.title{
    font-size: 24px;
    position: absolute;
    top: 2.4%;
    right: 25.4%;
    left: 25.4%;
    text-align: center;
    color: #009cc6;
    font-weight: bold;
}
