
hr{
    float: left;
    width: 100%;
    border: 1px solid #70cde5;
}

.div1{
    width: 87.5%;
    height: 100vh;
    border-right: 1px solid black;
    margin: 0;
}

.div2{
    position: absolute;
    margin: 13.5% 0 0 7.6%;
    width: 240px;
    height: 60px;
    font-size: 14px;
}

.text-right{
    float: right;
}
