
body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: #009cc6;
}


.title{
    position: absolute;
    text-align: center;
    color: white;
    font-size: 32px;
    font-weight: bold;
    top: 33.6%;
    left: 21.1%;
}

.sub-title{
    position: absolute;
    text-align: center;
    color: #E5E1E1;
    font-size: 16px;
    top: 43.2%;
    left: 34.5%;
}

.kakao_btn {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    margin: 0px auto;
    height: 40px;
    background-color: #FEDE01;
    border-radius: 5px;
    text-align: center;
    border: 0;
    box-shadow: 0px 6px 6px 1px rgba(0, 0, 0, .2);
}

.kakao_icon {
    margin-right: 6px;
}

.p1 {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    color: #593a00;
}

.p2 {
    display: inline-block;
    font-size: 12px;
    color: #593a00;
}