.prediction_page{
    background-color: #eefbff;
    height: 100vh;
}

.prediction_content {
    padding: 60px 0;
}

.prediction_detail {
    width: 90%;
    margin: auto;
    padding: 20px 0;
}

.section {
    margin: 6px 0;
}

.link_title{
    color: #009cc6;
    font-weight: bold;
}

.grade_table{
    margin: 12px 0;
    padding: 12px;
    background-color: white;
    border-radius: 6px;
}

.grade_table table {
    text-align: center;
    width: 100%;
    border-collapse: collapse;
}

.grade_table table tbody tr{
    border-bottom: 1px solid #C2BEBE;
    font-size: 12px;
    text-align: center;
}

.grade_table table tbody tr:last-child{
    border-bottom: 0
}

.grade_table table tbody tr td{
    padding: 6px;
}

.analysis_box, .univ_box {
    margin: 12px 0;
    background-color: #ffffff;
    border-radius: 6px;
    padding: 12px;
    display: flex;
    justify-content: center;
}

.analysis_btn {
    background-color: #ffffff;
    border: 1px solid #505050;
    border-radius: 6px;
    padding: 6px 24px;
    margin: 0 24px;
    width: 40%;
}

.contents_title {
    width: 30%;
    vertical-align: middle;
    font-size: 0.9em;
}

.relation_btn{
    margin-right: 6px;
    background-color: #ffffff;
    border: 1px solid #707070;
    border-radius: 6px;
    width: fit-content;
    font-size: 12px;
    padding: 2px 12px;
}

.contents_radio {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.contents_radio > input {
    display: none;
}

.contents_radio input:checked + label {
    background-color: #70cde5;
}
