.Beneficial_simulation_page{
    background-color: #eefbff;
    height: 100%;
    min-height: 100vh;
}

.Beneficial_simulation_content {
    padding: 60px 0;
}

.Beneficial_simulation_detail {
    width: 90%;
    margin: auto;
    padding-bottom: 20px;
}

.Beneficial_section {
    margin: 12px 0;
}

.Beneficial_link_title{
    color: #009cc6;
    font-weight: bold;
}

.Beneficial_video {
  margin: 24px auto;
  width: 100%;
}

.Beneficial_video video{
  width: 100%;
}


.Beneficial_result {
    text-align: center;
    margin: 12px 0;
}

.Beneficial_result_title {
    text-align: left;
}

.Beneficial_result_subtitle {
    margin-top: 12px;
    text-align: left;
    font-size: 0.9em;
}

.Beneficial_result_table {
    margin-top: 12px;
    background-color: #ffffff;
    padding: 12px 6px;
    font-size: 0.9em;
    text-align: center;
    overflow: auto;
    width: 95%;
}

.Beneficial_result_table table thead tr td {
    border-right: 1px solid #C2BEBE;
    width: 100px;
    padding : 0 12px;
    word-break: keep-all;
}

.Beneficial_result_table table tbody tr td {
    word-break: keep-all;
    padding : 6px 12px;
}

.Beneficial_result_table table thead tr td:last-child {
    border-right: 0;
}

.Beneficial_result_hr {
    border-bottom: 1px solid #70cde5;
    margin: 24px 0;
}